@font-face {
    font-family: "Source Serif Pro";
    src: url("assets/fonts/SourceSerifPro-Regular.ttf");
}

body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif Pro", serif;
}
